@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    background-color: #F4DFBA;

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

#sidebar-toggle {
    display: none;

}

.sidebar-user img {
    width: 50px;
    height: 60px;
    display: fixed;

}

.sidebar-user h3 {
    font-size: 1rem;
    text-align: center;

}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #876445;
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
    text-align: center;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}



.sidebar-menu {
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 1.5rem;
    text-align: left;
}

.sidebar a {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.sidebar a span:last-child {
    padding-left: .8rem;
}

#sidebar-toggle:checked~.sidebar {
    width: 60px;
}

#sidebar-toggle:checked~.sidebar .sidebar-header h3 span,
#sidebar-toggle:checked~.sidebar .sidebar-user img h3 span,
#sidebar-toggle:checked~.sidebar li span:last-child {
    display: none;
}


#sidebar-toggle:checked~.sidebar .sidebar-header,
#sidebar-toggle:checked~.sidebar li {
    justify-content: center;
}

#sidebar-toggle:checked~.main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked~.main-content header {
    left: 60px;
    width: calc(100% - 60px);
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

main {
    margin-top: 60px;
    background: #F4DFBA;
    min-height: 90vh;
    padding: 1rem 3rem;
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #876445;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}


.social-icons {
    display: flex;
    align-items: right;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}




.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;

}

.cards1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}

.card-head span {
    display: block;
    text-transform: uppercase;
    font-size: .50rem;
    font-weight: bold;
}


.card-head small {
    font-weight: 600;
    color: brown;

}

.card-single {
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #876445;
    color: #F4DFBA;
}


.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 1.5rem;
    color: #EEC373;
    padding-right: 1.4rem;
}


.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.card-footer a {
    color: #876445;
}

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1.5rem;
}

.activity-grid1 {
    display: fixed;
    grid-template-columns: 60% 40%;
    grid-column-gap: 1.5rem;
    width: auto;

}

.activity-card,
.summary-card,
.bday-card {
    background: #fff;
    border-radius: 7px;
}

.activity-card h3 {
    color: #876445;
    margin: 1rem;
}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    text-align: left;
    background-color: #F4DFBA;
    color: #876445;
}

th {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    color: #876445;
    text-align: center;

}

td {
    font-size: .8rem;
    padding: 1rem 1rem;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 2px;
    font-weight: 700;
    font-size: .7rem;
}

.badge.success {
    background: #34BE82;
    color: white;
}

.badge.pending {
    background: #9B0000;
    color: white;
}

.td-team {
    display: flex;
    align-items: center;

}




.summary-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}



.summary-single small {
    font-weight: 700;
    color: #876445;
}

.bday-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.bday-card {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.text-center1 {
    text-align: center;
}

.text-center button {
    background: #876445;
    color: #F4DFBA;
    border: 1px solid #876445;
    border-radius: 4px;
    padding: .4rem 1rem;
}

.text-center1 button {
    background: #876445;
    color: #F4DFBA;
    border: 1px solid #876445;
    border-radius: 4px;
    padding: .4rem 1rem;
    width: 100%;
}

button:hover {
    background-color: #F4DFBA;
    color: #876445;
}


.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }

    #sidebar-toggle:checked~.sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked~.sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked~.sidebar li span:last-child {
        display: inline;
    }

    #sidebar-toggle:checked~.sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }

    #sidebar-toggle:checked~.sidebar li {
        display: block;
    }

    #sidebar-toggle:checked~.main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked~.main-content header {
        left: 60px;
    }
}

@media only screen and (max-width: 860px) {
    .dash-cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .activity-grid {
        display: block;
    }

    .summary {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.calendar {

    background-color: white;
    border-radius: 30px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* transform: scale(1.25); */
}



.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #876445;
    padding: 10px;
    height: 40%;
}

.calendar-body {
    padding: 5px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: #876445;
    color: #F4DFBA;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;

}

.toggle span {
    margin-right: 10px;
}


.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    background-color: #876445;
    color: #F4DFBA;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list>div {
    display: grid;
    place-items: center;
}

.month-list>div>div {
    width: 100%;
    padding: 1px 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}

.month-list>div>div:hover {
    background-color: #F4DFBA;
    color: #876445;
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


.wrapper {
    max-width: 1100px;
    margin-top: 5%;
    width: 200%;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 40px;
    padding-top: 1px;
}

.wrapper.second {
    max-width: 330px;
    margin-top: 5%;
    margin-right: 5%;
    background: #fff;

}

.wrapper .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #876445;
    text-align: left;
    margin-top: 2%;
}

.wrapper .form {
    width: 100%;

}

.wrapper .form .inputfield {
    display: fixed;
    text-align: left;
    width: 100%;
    margin-left: 10px;
    margin-top: 40px;
    padding: 1px;

}

.wrapper .form .inputfield label {
    width: 100px;
    color: #757575;
    margin-right: 10px;
    font-size: 15px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 25px;

    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
    border: 1px solid #876445;
}

.wrapper .form .inputfield p {
    font-size: 14px;
    color: #757575;
}

.wrapper .form .inputfield .check {
    width: 1px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #876445;
    display: block;
    position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
    background: #F4DFBA;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #876445;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #F4DFBA;
    color: #876445;

}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }

    .wrapper .form .inputfield.terms {
        flex-direction: row;
    }
}
